__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/
*.log

wandb/
runs/
.vscode/
results/
site/
media/
assets/pipeline_animation/ppt_media/

notebooks/.cache
notebooks/data/
.ipynb_checkpoints/